@import "main.css";

.landing-img {
    height: 75vh;
    overflow: hidden;
    position: relative;
}

.landing-img img {
    object-position: center 100px;
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcf99;
    width: 100%;
}

.hero-content > h1 {
    font-size: 4em;
    text-shadow: -1px 4px 7px rgba(0, 0, 0, 0.6);
}

.hero-content > .btn-primary {
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
    font-size: 1.25rem;
}

main section {
    margin: 1em;
    padding: 1em;
    height: 25vh;
    overflow: hidden;
    color: white;
}

/*section 1*/
#s1 {
    background-color: var(--color-light);
}

/*section 2*/
#s2 {
    background-color: var(--color-accent);
}

/*section 3*/
#s3 {
    background-color: var(--color-secondary);
}

/*footer*/
footer {
    padding: 1em;
    height: 25vh;
    background-color: var(--color-lighter);
}



@media screen and (max-width: 1765px) {
    .landing-img img {
        object-position: center -390px;
        /*height: 1500px;*/
    }
}

@media screen and (max-width: 1400px) {
    .hero-content > h1 {
        font-size: 3em;
    }

    .landing-img img {
        object-position: center -100px;
    }

    .hero-content > .btn-primary {
        font-size: 1.5em !important;
    }
}

@media screen and (max-width: 945px) {
    .hero-content > h1 {
        font-size: 2.5em;
    }

    .landing-img img {
        object-position: center 0px;
    }

    .hero-content > .btn-primary {
        font-size: 2em;
    }

}