.landing-img {
    height: 75vh;
    overflow: hidden;
    position: relative;
    /*display: flex;*/
}

.landing-img img {
    object-position: center -250px;
    object-fit: cover;
    min-height: 100%;
    /*min-width: 100%;*/
    width: 100%;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcf99;
}

.hero-content> h1 {
    text-shadow: -1px 4px 7px rgba(0,0,0,0.6);
}

.hero-content > .btn-primary {
    box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}