:root {
    --color-primary: #f15156;
    --color-primary-darker: #ad393c;
    --color-accent: #721121;
    --color-secondary: #a5402d;
    --color-secondary-lighter: #f58468;
    --color-light: #ffc07f;
    --color-light-lighter: #ffdbc0;
    --color-lighter: #ffcf99;
}

* {
    margin: 0;
    font-family: Roboto;
}

.nav-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-section-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}

.nav-section-two {
    display: flex;
    flex: 3;
    justify-content: end;
    margin: 0 1em;
}

nav {
    height: 13vh;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover {
    color: var(--color-primary);
}

nav li {
    list-style: none;
}

/*buttons*/

.btn-primary {
    padding: .5rem;
    background-color: var(--color-primary);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: white !important;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--color-primary-darker);
}

.btn-light,
.rezervo-btn {
    padding: .5rem;
    background-color: var(--color-light);
    width: min-content !important;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-light:hover {
    background-color: var(--color-light-lighter);
}

.btn-secondary {
    padding: .5rem;
    background-color: var(--color-secondary);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--color-secondary-lighter);
}

/* admin sidebar container */
.navbar-container {
    height: 100%;
    position: fixed;
}

.hotel-img {
    height: 180px;
}

/* input */
.input {
    height: 3rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    border: .5px solid black;
    padding: 0 1rem;
    border-radius: 10px;
}

.input::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
}

/* misc */
.m-2 {
    margin: 1rem;
}