:root {
    --color-primary: #f15156;
    --color-primary-darker: #ad393c;
    --color-accent: #721121;
    --color-secondary: #a5402d;
    --color-secondary-lighter: #f58468;
    --color-light: #ffc07f;
    --color-light-lighter: #ffdbc0;
    --color-lighter: #ffcf99;
}

* {
    margin: 0;
    font-family: Roboto;
}

.nav-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-section-one {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.nav-section-two {
    display: flex;
    flex: 3;
    justify-content: end;
    margin: 0 1em;
}

nav {
    background-color: #dedede;
    height: 6vh;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}

/*buttons*/

.btn-primary {
    padding: .5rem;
    background-color: var(--color-primary);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: white !important;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-primary-darker);
}

.btn-light {
    padding: .5rem;
    background-color: var(--color-light);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
}

.btn-light:hover {
    background-color: var(--color-light-lighter);
}

.btn-secondary {
    padding: .5rem;
    background-color: var(--color-secondary);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--color-secondary-lighter);
}

a {
    text-decoration: none;
    color: white;
}