@import "main.css";

.navbar-wrapper {
    width:  250px;
    height: 100%;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
}

.profile {
    flex: 7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.profile-name {
    font-size: 1.5rem;
}

.profile-img-container {
    width: 75%;
    margin: 2em 0 0 0;
}

.profile img {
    width: 100%;
}

.links {
    flex:6.5;
    transition: 0.5s;
    /* position: relative; */

}

.links ul {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 30px;
    transition: 0.3s;
}


.links li {
    list-style: none;
    font-size: 1.4rem;
}

.links a {
    text-decoration: none;
    color: #000;
    transition: all .5s;


}

.links a:hover {
    color: var(--color-secondary-lighter);
}
.open-navbar-btn {
    cursor: pointer;
    position: absolute;
    height: min-content;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    font-size: 2rem;
    background-color: #000;
    z-index: 10;
    color: #fff;
    left: 230px;
    transition: 0.3s;
}

.open-navbar-btn:hover {
    background-color: #eeeeee;
    color: #000;
}


html, body {
    height: 100%;
    
}
.flipped {
    transform: rotate(180deg);
  }