.main-title-img {
    width: 500px;
    height: 400px;
    min-width: 420px;
    flex: 1;
    border-radius: 30px;
    overflow: hidden;
}


.main-title-wrapper:hover img {
    height: 600px;
}

.main-title-img img {
    height: 550px;
    transition: all 2s;
}

.main-title-wrapper {
    display: flex;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
    transition: all 1s;
}

.main-title-wrapper:hover {
    opacity: .60;
}

.main-title-wrapper h1 {
    font-size: 3.5rem;
}

.main-title-details {
    width: 100%;
    display: flex;
    min-width: 340px;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    flex: 1;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 0 5rem 0;
    flex-direction: column;
}

/* articles */

.article-img {
    width: 275px;
    height: 250px;
    overflow: hidden;
}

.article-img img {
    width: 500px;
    height: 250px;
    transition: all 1s;
}

.article-img-border {
    border-radius: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    gap: 10px;
    cursor: pointer;
    transition: all 1s;
}

.article:hover {
    opacity: .60;
}

.article:hover img {
    width: 510px;
    height: 260px
}

.latest-wrapper {
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.latest-articles {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    gap: 30px;
}

section {
    width: 80vw;
}

@media screen and (max-width: 610px) {
    .main-title-img {
        max-width: auto;
        min-width: 300px;
    }

    .main-title-img img {
        height: 400px;
    }

    .main-title-wrapper h1 {
        font-size: 2rem;
    }

    .main-title-details {
        max-width: auto;
        min-width: 200px;
    }
}

@media screen and (max-width: 1860px) {
    .latest-articles {
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }
}

@media screen and (max-width: 1450px) {
    .latest-articles {
        grid-template-columns: repeat(3, auto);
        gap: 20px;
    }
}

@media screen and (max-width: 1130px) {
    .latest-articles {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
    }
}

@media screen and (max-width: 700px) {
    .latest-articles {
        grid-template-columns: minmax(200px, auto);
        min-width: 200px;
        gap: 20px;
    }

    .article {
        width: 100%;
        max-width: 100%;
    }

    .article-img {
        width: 100%;
    }

    .article-img img {
        width: 550px;
        height: 300px;
    }

    .article:hover img {
        width: 560px;
        height: 310px
    }
}