.hero-container {
    position: relative;
    height: 75vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.landing-img {
    height: 75vh;
    overflow: hidden;
    position: relative;
}

.landing-img img {
    object-position: center -390px;
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcf99;
    width: 100%;
}

.hero-content>h1 {
    font-size: 4em;
    text-shadow: -1px 4px 7px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1620px) {
    .landing-img img {
        object-position: center -130px;
    }
}

@media screen and (max-width: 1400px) {
    .hero-content>h1 {
        font-size: 3em;
    }

    .hero-content>.btn-primary {
        font-size: 1.5em !important;
    }

    .landing-img img {
        object-position: center 10px;
    }
}

@media screen and (max-width: 945px) {
    .hero-content>h1 {
        font-size: 2.5em;
    }

    .landing-img img {
        object-position: center 0px;
    }

    .hero-content>.btn-primary {
        font-size: 2em;
    }

}

@media screen and (max-width: 850px) {
    .hero-content>h1 {
        font-size: 2em;
    }

    .hero-container {
        height: 50vh;
    }
}

/* cards */

.card-container {
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
    padding: 10px 80px;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;

}

.info-card {
    border-radius: 7px;
    border: gray solid 1px;
    flex: 1;
    padding: 10px;
    align-self: stretch;
    box-sizing: border-box;
    min-width: 473px;
    /* width: 50%; */
}

@media screen and (max-width: 700px) {
    .card-row {
        flex-direction: column;
    }

    .card-row {
        padding: 10px 5px;
    }
}