/* Holet cards*/
.hotel-card-container{
    padding: 0px 250px;
    /* outline: #721121 dashed 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-animation{
    width: 100%;
    /* outline: #721121 dashed 1px; */
    padding: 10px;
    
    animation: linear reveal both;
    animation-timeline: view();
    animation-range: entry 0.5% cover 15%;
}

.hotel-card{
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    outline: #464646 solid 1px;

    display: flex;
    align-items: center;
    
}
.hotel-card img{
    width: 270px;
    height: 180px;
    border-radius: 10px;
}
.hotel-img{
    width: 270px;
    height: 180px;
    padding-right: 1%;
}

.main-info{
    padding-top: 7px;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column; 
    justify-content: space-between;
}

.rating-addres{
    /* outline: #721121 dashed 1px; */
    

}

.card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* outline: #721121 dashed 1px; */
    margin-bottom: 7px;
    justify-content: space-between;
}

.reserve{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7px;
    padding-bottom: 3px;
    align-self: flex-end;
    padding-left: 100px;
    justify-content: space-between;
}

.desc{
    /* outline: #721121 dashed 1px; */
    flex-grow: 1;

}

.rezervo-btn:hover{
    cursor: pointer;
    background-color: #ffdbc0;
}

/* POP UP FORM */

.form-popup{
    visibility: hidden;
    opacity: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: white;
    transform: translate(-50%,-50%);
    outline: gray 1px solid;
    padding: 10px;
    border-radius: 7px;
}
.popup-show{
    visibility: visible;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-popup h1{
    margin-bottom: 3px;
}
.date-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 7px;
}
.button-holder{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.button-holder>button{
    padding: .5rem;
    background-color: var(--color-light);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}
.cancel{
    background-color: #ff7070 !important;
}
.date-error{
    visibility: visible !important;
    color: rgb(250, 39, 39);
}

@keyframes reveal{
    from{
        opacity: 0%;
        width: 0%;
        height: 100%;
        /* clip-path: inset(5% 10% 5% 10%); */
        /* clip-path: inset(50% 25% 50% 25%); */
    }
    to{
        opacity: 1;
        /* clip-path: inset(0% 0% 0% 0%); */
        width: 100%;
        height: 100%;
    }
}

footer {
    height: 25vh;
    background-color: var(--color-secondary);
}

.additional-info {
    padding-top: 2rem;
    line-height: 2rem;
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    height: 100%;
    color: #fff;
    justify-content: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}