/* Holet cards*/
.hotel-card-container{
    padding: 25px 250px;
    /* outline: #721121 dashed 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-animation{
    width: 100%;
    /* outline: #721121 dashed 1px; */
    padding: 10px;
    
    animation: linear reveal both;
    animation-timeline: view();
    animation-range: entry 0.5% cover 15%;
}
.hotel-card{
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    outline: #464646 solid 1px;

    display: flex;
    align-items: center;
    
}
img{
    width: 270px;
    height: 180px;
    border-radius: 10px;
}
.hotel-img{
    width: 270px;
    height: 180px;
    padding-right: 1%;
}

.main-info{
    padding-top: 7px;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column; 
    justify-content: space-between;}

.rating-addres{
    /* outline: #721121 dashed 1px; */
    

}

.card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* outline: #721121 dashed 1px; */
    margin-bottom: 7px;
    justify-content: space-between;
}

.reserve{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 7px;
    
}

.desc{
    /* outline: #721121 dashed 1px; */
    width: 600px;

}

.rezervo-btn{
    padding: .5rem;
    background-color: var(--color-light);
    width: min-content;
    height: min-content;
    border-radius: 10px;
    white-space: nowrap;
    color: black !important;
    text-decoration: none;
}
.rezervo-btn:hover{
    cursor: pointer;
}

@keyframes reveal{
    from{
        opacity: 0%;
        width: 0%;
        height: 100%;
        /* clip-path: inset(5% 10% 5% 10%); */
        /* clip-path: inset(50% 25% 50% 25%); */
    }
    to{
        opacity: 1;
        /* clip-path: inset(0% 0% 0% 0%); */
        width: 100%;
        height: 100%;
    }
}

