 @import '../main.css';

* {
    box-sizing: border-box;
}

 .wrapper {
     display: flex;
     height: 100%;
 }

 .content-container {
     width: 100%;
     height: min-content;
     display: flex;
     margin: 1rem 0 0 250px;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 table {
     width: 80%;
     margin: 1rem 0 2rem 0;
     border-collapse: collapse;
 }

 th,
 td {
     padding: 1rem;
     text-align: left;
     border: 1px solid #ddd;
 }

 th {
     background-color: var(--color-light-lighter);
 }

 .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 }

 .header {
    width: 80%;
    padding: 2rem 0 0 0;
    text-align: left;
 }

 /* form */
 form {
    width: 100%;
 }

 .form-container {
    display: flex;

    width: 100%;
 }

 .form-row {
    width: 100%;
        margin: 2rem 0 0 6rem;
 }